In [187]:
import pandas as pd

In [188]:
df=pd.read_csv('/workspaces/Data-Engineering-Datatalks/taxi_zone_lookup.csv')

In [189]:
dtype = {
    "Borough":"string",
     "Zone":"string",
    "service_zone":"string"
    
    
}

In [190]:
df.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [191]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [192]:
len(df)

265

In [193]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [194]:
!uv add sqlalchemy psycopg2-binary

Resolved 120 packages in 0.68ms
Audited 13 packages in 0.22ms

In [195]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [196]:
print(pd.io.sql.get_schema(df, name='home_work', con=engine))

CREATE TABLE home_work (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [197]:
df.head(n=0).to_sql(name='home_work', con=engine, if_exists='replace')

0

In [198]:
!uv add tqdm

Resolved 120 packages in 0.69ms
Audited 13 packages in 0.21ms

In [199]:
df=pd.read_csv('/workspaces/Data-Engineering-Datatalks/taxi_zone_lookup.csv',
                iterator=True,
                chunksize=100000)

In [200]:
from tqdm.auto import tqdm

In [201]:
for itera in df:
    print(len(itera))

265

In [202]:
itera.to_sql(name='home_work', con=engine, if_exists='append')

265